<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{pageTitle}}
  </div>

  <div class='panel-body'>

    <div class='row'>
            <div class='col-md-2 filter'>
                Filter Name by:
            </div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <p><br>
            </div>
        </div>

    <div class='table-responsive'>
      <table class='table' *ngIf='tasks && tasks.length'>
        <thead>
          <tr>
            <th>Image</th>
            <th>Language</th>
            <th>Hours</th>
            <th>Task Description</th>
            <th>Task Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let task of tasks | taskFilter:listFilter'>
            <td>
              <img [src]='task.imageUrl' [title]='task.language' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
            </td>
            <td class="lang">{{ task.language }}</td>
            <td>{{ task.hours | number:'.1-5'}}</td>
            <td>{{ task.taskDescription }}</td>
            <td>{{ task.date | date:'medium' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class='panel-footer'>
        <a class='btn btn-primary' (click)='onBack()'>Create New Task</a>
    </div>

</div>
